<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

<head></head>
<body>
    <div class="homepage">
        <h1 style="text-align: center;">PERSONAL PORTFOLIO of SEAN CHAN</h1>

    <fieldset>
        <br><br>
    <h1>Welcome!</h1> 
    <p>My mission is to value each person for who they are, promoting empathy, understanding, and respect in every interaction, helping everyone I meet to feel seen, heard, and appreciated.</p>

    <p>To create a harmonious and inclusive environment that values every individual's contribution, fostering personal growth, creativity, and mutual respect.</p>
    <p>Click The Link Below for Details</p>
    <button class="btn btn-outline-success me-2" onClick=window.location.href="/About" type="button">About ME </button>

    <br>
    <br>
    <br>
    </fieldset>
    </div>
</body>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   